<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <meta name="author" content="Shiya Luo">

  <link rel="stylesheet" href="css/styles.css">

  <!--[if lt IE 9]>
  <script src="js/html5.js"></script>
  <![endif]-->
</head>

<body>

<script src="js/scripts.js"></script>
</body>
</html>
